<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
  font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}
    </style>
  </head>
  <body>
   <h1>{{ flatpage.title }}</h1>
    <hr>
   <div style="text-align: center;">
         <p style="font-size: 60px; font-weight: 100; font-family: 'Roboto', sans-serif;">
        Извините, в данный момент идут технические работы (Ведется настройка страницы)</p>
    </div>
    <i>{{ flatpage.content }}</i>
</body>
</html>